templates/bronze_layer/bronze_layer.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"linked_service_adls": {
			"type": "string"
		},
		"linked_servive_rest_api": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/bronze_layer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "execute_mandi_ogd_api_ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "mandi_ogd_api_ingestion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"pagination_limit": {
									"value": "@pipeline().parameters.mandi_ogd_api_ingestion_param.pagination_limit",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "set_logs",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "execute_mandi_ogd_api_ingestion",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "logs",
							"value": {
								"value": "@concat('{\"execute_mandi_ogd_api_ingestion\": ', '{\"status\": \"', activity('execute_mandi_ogd_api_ingestion').status, '\", \"message\": \"', if(equals(activity('execute_mandi_ogd_api_ingestion').status, 'Failed'), activity('execute_mandi_ogd_api_ingestion').error.message, 'No error'), '\"}}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set_status",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "execute_mandi_ogd_api_ingestion",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "status",
							"value": {
								"value": "@if(equals(activity('execute_mandi_ogd_api_ingestion').status, 'Failed'), 'Failed', 'Succeeded')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "if_failed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "set_logs",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('status'), 'Failed')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "alert_on_failure",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"parameters": {
					"mandi_ogd_api_ingestion_param": {
						"type": "object",
						"defaultValue": {
							"pagination_limit": "1000"
						}
					}
				},
				"variables": {
					"logs": {
						"type": "String"
					},
					"status": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-11T06:20:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/mandi_ogd_api_ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mandi_ogd_api_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_ogd_api_key",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": "https://keyvaultagriadfnisram.vault.azure.net/secrets/ogd-api-key/13fdc584a379444293da073f23ae55a6?api-version=7.5",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "set_ogd_api_key",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_ogd_api_key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ogd_api_key",
							"value": {
								"value": "@activity('get_ogd_api_key').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_ogd_mandi_metadata",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "set_ogd_api_key",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070?api-key=@{variables('ogd_api_key')}&format=json&offset=0&limit=0",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_last_updated_date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dynamic_json",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"folder": "monitor",
									"file": "ogd_mandi_api.json"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "if_new_data_to_load",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "get_last_updated_date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_ogd_mandi_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('get_ogd_mandi_metadata').output.updated_date, activity('get_last_updated_date').output.value[0].last_updated_date)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "mandi_ogd_api_to_lake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:20:00",
										"retry": 2,
										"retryIntervalInSeconds": 30,
										"secureOutput": true,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"QueryParameters.{offset}": {
													"value": "RANGE:0:@{activity('get_ogd_mandi_metadata').output.total}:@{pipeline().parameters.pagination_limit}",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dynamic_rest_api",
											"type": "DatasetReference",
											"parameters": {
												"base_url": "https://api.data.gov.in",
												"relative_url": {
													"value": "resource/9ef84268-d588-465a-a308-a864a43d0070?api-key=@{variables('ogd_api_key')}&format=json&offset={offset}&limit=@{pipeline().parameters.pagination_limit}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dynamic_json",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": "ogd_mandi_api",
												"file": {
													"value": "@{activity('get_ogd_mandi_metadata').output.updated_date}.json",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "update_last_updated_date",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "mandi_ogd_api_to_lake",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "last_updated_date",
													"value": {
														"value": "@activity('get_ogd_mandi_metadata').output.updated_date",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dynamic_json",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": "monitor",
												"file": "empty.json"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dynamic_json",
											"type": "DatasetReference",
											"parameters": {
												"container": "bronze",
												"folder": "monitor",
												"file": "ogd_mandi_api.json"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"pagination_limit": {
						"type": "string",
						"defaultValue": "10"
					}
				},
				"variables": {
					"ogd_api_key": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-11T06:20:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dynamic_json')]",
				"[concat(variables('factoryId'), '/datasets/dynamic_rest_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamic_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('linked_service_adls')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dynamic_rest_api')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('linked_servive_rest_api')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"base_url": {
							"value": "@dataset().base_url",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"base_url": {
						"type": "string"
					},
					"relative_url": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relative_url",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}